pytest==7.1.2
black==22.6.0
blackdoc==0.3.6
isort==5.10.1
flake8==5.0.4
mypy==0.971
matplotlib
ipython
git+https://github.com/sotetsuk/MinAtar.git
jax[cpu]
brax
argdcls
tqdm
tenhou_wall_reproducer
shanten_tools
